.about-container {
    background-image: url('../Assets/Hero3.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: left;
    font-size: 24px;
    justify-content: flex-start;
  }
  
   .about-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    
  }
  