/* Style the CardSlider container */
.card-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  /* Style the individual card */
  .card {
    /* background-color: #fff; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: 350px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* To stack the card content */
   /* To space content vertically */
  }
  
  .card img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    max-height: 60%; 
    object-fit: cover;
    /* display: block;
    height: auto; */
  }
  
  
  /* Style the slider controls */
  .slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slider-controls button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .slider-controls button:hover {
    background-color: maroon;
  }
  
  .slider-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

 