
  
  /* Add some padding inside the card container */
  .card-container {
    padding: 20px; /* Increase padding for more space */
    text-align: center; /* Center-align text content */
    background-color: maroon;
    height: 120px; /* Increase the height of the card container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
  
  
  
  
  .card h4 {
    margin: 10px 0; 
    color: white;
    font-size: 1.5rem;

  
  }
  
 
  
  .card-list {
    display: flex; /* Use Flexbox to create a horizontal layout */
    justify-content: space-between; /* Distribute cards with space between them */
  }
  