/* Style for the footer */
.footer {
  
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    display: flex;
    
     
  }

  /* Style for the left side with a different background color */
.left-side {
    background-color: maroon; /* Left side background color */
    padding: 5px;
    flex: 1; /* Grow to fill available space */
    
  }

  /* Style for the right side with another background color */
.right-side {
    background-color: white; /* Right side background color */
    padding: 5px;
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column; /* Display contact items in a column */
  }
 /* Style for the main content */
.content {
    margin-bottom: auto; /* Push content to the top */
  }
  
  /* Style for the contact information */
  .footer-contact-info {
    text-align: right;
    display: flex;
    color:maroon;
     /* Set to row to display contact items side by side */
  }
  
  /* Style for individual contact items */
  .contact-item {
    margin-left: 10px; /* Add spacing between contact items */
  }